* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
}

.container {
  background-color: gray;
  background-image:  linear-gradient(to right, #ff8008, #ffc837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  min-width: 40%;
  max-width: 70%;
  background-color: whitesmoke;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 0 1.5rem #ddd6d6;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: rgb(250, 126, 10);
  border-width: 5px;
  border-color: solid white;
}