* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__tarjetas {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50vw;
  padding: 2.5rem 0;
}

.tarjeta {
  box-shadow: 0 0.4rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  width: 20rem;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
  background-image:  linear-gradient(to right, #ff8008, #ffc837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.tarjeta:hover {
  transform: scale(1.1);
}

.tarjeta__parrafo {
  padding: 1rem;
}
